
* {  margin: 0;  padding: 0;  }

body, html {  width: 100%;  height: auto;background: #fff;min-width:1200px;font-family: Monospaced Number,Chinese Quote,-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,PingFang SC,Hiragino Sans GB,Microsoft YaHei,Helvetica Neue,Helvetica,Arial,sans-serif;}

h1, h2, h3, h4, h5, h6, p, ul, li, ol, dl, dd, dt, form, input, body, p {  margin: 0;  padding: 0;  list-style: none; margin-bottom: 0 }

i, u, del, b {  font-style: normal;  text-decoration: none;  }

input[type=checkbox]{-webkit-appearance: checkbox;}

/*侧边栏布局兼容ie*/
.ant-layout-has-sider.ant-layout > .ant-layout, .ant-layout-has-sider.ant-layout > .ant-layout-content{
    flex:1;
}
/*右侧退出登录*/
.ant-dropdown-menu-vertical{
    top:0 !important
}

/*--------common--------*/
.flex-pack-justify-center {
    -webkit-box-pack: justify;
    -webkit-justify-content: center;
    -ms-flex-pack: justify;
    justify-content: center;
}
/*admin*/


/*后台主页*/

#Admin{width:100%;height:100%;font-family: 苹方}

input:-webkit-autofill {
    -webkit-box-shadow: 0 0 0px 1000px white inset;
}
/* 监控结果列表 */
.ant-breadcrumb-link{cursor: pointer;font-size: 14px;line-height: 60px;}

/* wangeditor */

.ant-calendar .ant-calendar-time{background: #fff;z-index: 2}
.ant-calendar{margin-top: 31px}
.ant-breadcrumb{margin-top: 0!important}

.Chart{position: relative}

.ant-calendar-picker{margin-right: 0}

.ant-table table{
    table-layout: fixed;
}
.ant-upload-select-picture-card i {
    font-size: 32px;
    color: #999;
}
.ant-upload-select-picture-card .ant-upload-text {
    margin-top: 8px;
    color: #666;
}
.flex-pack-justify {
    -webkit-box-pack: justify;
    -webkit-justify-content: center;
    -ms-flex-pack: justify;
    justify-content: center;
}

.root .container {
    padding: 0;
    background-color: #f0f2f5;
}
.root .container .content {
    padding: 24px;
    margin: 20px;
	background: #fff
}
.root .container .content .ant-table, .root .container .content .ant-table {
    min-height: unset;
}
.root .container .content .no_align {
    align-items: unset;
}
.root .breadcrumb-wrap {
	padding: 0 20px;
	background: #fff;
}
.root .search-form {
    padding: 0;
    margin-bottom: 15px;
    background: #fff;
    border: none;
    border-radius: 0;
}
.root .search-form>.ant-row {
    padding-bottom: 10px;
}
.root .search-form .serch-wrap::after{
    content: '';
    display: block;
    height: 0;
    width: 100%;
    clear: both;
    visibility: hidden;
}
.root .search-form .ant-form-item {
    display: flex;
    margin-left: 10px;
    /* padding-bottom: 10px; */
  }
.root .search-form .ant-form-item-control-wrapper {
    flex: 1;
    overflow: hidden;
}
.root .search-form .ant-form-item-control {
    line-height: 32px;
}
.root .search-form .form-date-wrap {
    width: auto;
}
.root .search-form .form-date-wrap .ant-form-item-control-wrapper {
    max-width: initial;
}
.root .search-form .ant-form-item-children,
.root .search-form .ant-form-item-children .ant-select,
.root .search-form .ant-form-item-children .ant-input,
.root .search-form .ant-calendar-picker {
    display: block;
}
.root .search-form .ant-form-item-label {
    width: 95px;
    line-height: 32px;
}
.root .search-form.en .ant-form-item-label {
    width: 240px;
}
.root .search-form .search-form-btns {
    float: right;
}
.root .search-form .ant-btn, .root .operation-btns .ant-btn {
    margin-left: 15px;
}
.root .search-form .ant-btn:first-child, .root .operation-btns .ant-btn:first-child, .root .operation-btns .ant-btn.first {
    margin-left: 0;
}
.root .ant-pagination  {
    padding-top: 20px;
    text-align: center;
    float: none;
}
.root .ant-table .ant-table-body .table-info {
    text-align: left;
}
.root .ant-table .ant-table-body .table-operate {
    color: #668fff;
    text-align: center;
    cursor: pointer
}
.root .ant-table .ant-table-body .table-info .table-item {
    margin-bottom: 0;
}
.root .ant-table-pagination.ant-pagination {
    margin: 0;
    float: none;
}
.root .ant-table-tbody>tr>td, .root .ant-table-thead>tr>th {
    text-align: center;
}
.picture-modal .picture-img-wrap {
    width: 100%;
    min-height: 440px;
    position: relative;
}
.picture-modal .picture-img-wrap img {
    max-height: 100%;
    max-width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    margin: 0 auto;
}
.pictureModalwidth .picture-img-wrap img {
    position: relative;
}
/* 导入-启用button颜色色调 */
.root .upload-inport-style{
    color:#fff;
    border-color: #3FBB91;
    background-color: #3FBB91;
}
.root .upload-inport-style:hover, .root .upload-inport-style:focus {
    color:#fff;
    border-color:rgba(63, 187, 145, 0.6);
    background-color:rgba(63, 187, 145, 0.6);
}
.root .table-tip {
    display: inline-block;
    width: 100%;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
}
.root .table-lable {
    white-space: nowrap;
}
.root .ant-form-item{
    margin-bottom: 0px
}
/*公共侧边栏样式 */
.root .ant-layout .sider{
    min-height: 100vh;
    -webkit-box-shadow: 2px 0 6px rgba(0,21,41,.35);
    box-shadow: 2px 0 6px rgba(0,21,41,.35);
    position: relative;
    z-index: 10;
    flex: 0 0 270px!important;
    max-width: 270px!important;
    min-width: 270px!important;
    width: 270px!important;
}
.root .ant-layout .ant-layout-sider-collapsed{
    flex: 0 0 80px!important;
    max-width: 80px!important;
    min-width: 80px!important;
    width: 80px!important;
}
.root .layout-title {
    height: 64px;
    position: relative;
    line-height: 64px;
    padding-left: 24px;
    -webkit-transition: all .3s;
    transition: all .3s;
    background: #002140;
    overflow: hidden;
}
.root .layout-title-logo {
    height: 32px;
}
.root .layout-title-title {
    color: #fff;
    font-size: 20px;
    margin: 0 0 0 20px;
    font-family: "Myriad Pro","Helvetica Neue",Arial,Helvetica,sans-serif;
}
.root .layout-title h1, .layout-title img {
    display: inline-block;
    vertical-align: middle;
}
.root .change-trigger{
    font-size: 20px;
    line-height: 64px;
    cursor: pointer;
    -webkit-transition: all .3s,padding 0s;
    transition: all .3s,padding 0s;
    padding: 0 24px;
}
.root .headerwrapper{
    width:100%;
    height:auto;
    padding: 0 12px 0 0;
    background: #fff;
    -webkit-box-shadow: 0 1px 4px rgba(0,21,41,.08);
    box-shadow: 0 1px 4px rgba(0,21,41,.08);
    position: relative;
    display: flex;
    /* justify-content: flex-start; */
    align-items: center;
}
.root .right-drap{
    cursor:pointer;
    -webkit-transition:all .3s;
    -o-transition:all .3s;
    transition:all .3s;
    line-height:60px;
    height:64px;
    display:flex;
    flex-direction:row;
    align-items:center;
    justify-content:flex-end;
}
/* 退出登陆样式 */
.login-out{
    font-size: 15px;
    padding: 5px 12px;
    margin: 0;
    clear: both;
    font-size: 14px;
    font-weight: normal;
    color: rgba(0,0,0,.65);
    white-space: nowrap;
    cursor: pointer;
    -webkit-transition: all .3s;
    transition: all .3s;
    line-height: 22px;
}
.login-out-icon{
    min-width: 12px;
    margin-right: 8px;
}
.header-right-img{
    width: 24px;
    height: 24px;
    border-radius: 50%;
    margin: 20px 8px 20px 0;
}
.header-right-account{
    color:rgba(0,0,0,.65);
    font-size: 14px;
}

.root .header-language{
    color:#668fff!important;
}

.root .operation-btns{
    margin-bottom:10px
}
.root .sync{
    cursor: pointer;
    margin-right: 20px;
}
.root .Alert_info {
    margin: 10px 0;
}
.root .search-form .anticon{
    margin-right: 6px;
}
.root .ant-card-bordered{
    border:0
}
.history-modal .ant-input-number {
    width: 100%
}

.root .time-span-2 {
    text-align: center
}
.root .search-form .ant-row .time-row .ant-form-item{
    padding-bottom: 0
}
.root .search-form .time-row .ant-calendar-picker {
    width: auto !important;
    min-width: auto !important
}